body{
  background-image:url(bg.jpg);
  color: white;
}
table{
  width:100%;
}
td{
  padding:1%;
}
tr:nth-child(even){
  background:#000;
}
img{
  border-radius:100%;
  width:180px;
  height:180px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  display: block;
  border-style: ridge;
}
img-circle{
  border-radius:50%;
  border:2px solid #000;
}
.flex-parent{
display:flex;
flex-direction:row;
justify-content:center;
}
.profile{
  width:100%;
  padding:2%;
  height:50%;
  margin:2%;
  border:5px solid #000;
  border-radius:20px;
}
.content
{
  width:100%;
  padding:2%;
  margin:2%;
  border:5px solid #000;
  border-radius:20px;
}
@media only screen and (min-width:320px) and (max-width:480px){
body{
  color:white;
  }
}
.flex-parent{
display:flex;
flex-direction:row;
justify-content:center;
}
.profile{
  width:100%;
  padding:2%;
  height:50%;
  margin:2%;
  border:5px solid #000;
  box-shadow: 3px 3px 3px white;
}
.content
{
  width:100%;
  padding:2%;
  margin:2%;
  border:5px solid #000;
    box-shadow: 3px 3px 3px white;
}
@media only screen and (min-width:481px) and (max-width:768px){
  .flex-parent{
  display:flex;
  flex-direction:row;
  justify-content:center;
  }
  .profile{
    width:100%;
    padding:2%;
    height:50%;
    margin:2%;
    border:5px solid #000;

  }
  .content
  {
    width:100%;
    padding:2%;
    margin:2%;
    border:5px solid #000;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .flex-parent{
  display:flex;
  flex-direction:row;
  justify-content:center;
  }
  .profile{
    width:100%;
    padding:2%;
    height:50%;
    margin:2%;
    border:5px solid #000;
  }
  .content
  {
    width:100%;
    padding:2%;
    margin:2%;
    border:5px solid #000;
    border-radius:20px;
  }
  }
}
